# Ignore IntelliJ IDEA project files
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore Gradle files
.gradle/
build/
captures/

# Ignore local configuration files
/local.properties
/captures
local.properties

# Ignore external native build files
.externalNativeBuild/
.cxx/

# Ignore macOS system files
.DS_Store

# Ignore generated build outputs
/build/
output.json

# Ignore Google Services JSON file (Android-specific)
google-services.json

# Ignore other specific files or directories
# Add any additional files or folders here if needed
